<div class="col-lg-10 col-lg-offset-1 text-center">
  <h1>ADVENTURE</h1>
  <% @pics.each do |photo| %>
    <div class="col-sm-4">
        <div class="portfolio-item">
            <a class="img-portfolio img-responsive" href = "<%= photo.file_url %>"
                data-lightbox="example-set" data-title=<%= %>>
                <img class="img-portfolio img-responsive" src="<%= photo.file_url(:thumb) %>"  alt="" /></a>
        </div>
    </div>
  <% end %>
</div>
