// Place all the styles related to the Gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gallery-back {
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px 0 0 5px;
}

#gallery-home {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px 5px 0 0;
}
